@using PagedList;
@using PagedList.Mvc;
@model IPagedList<smart_shop.Models.dondat>


@{
    ViewBag.Title = "Quản lý giỏ hàng";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    int stt = 1;
    stt = Model.PageSize * (Model.PageNumber - 1);
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-home"></i></a></li>
    <li class="active">@ViewBag.Title</li>
</ol>
<div class="panel panel-default">
    <div class="panel-heading">


    </div>
    <div class="panel-body">
        <table class="table-striped table">
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.Label("Tên đăng nhập")
                </th>
                <th>
                    @Html.Label("Trạng thái")
                </th>
                <th>
                    @Html.Label("Địa chỉ giao hàng")
                </th>
                <th>
                    @Html.Label("Ngày đặt")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{ stt++;}
                        @stt
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenDangNhap)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrangThai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoiGiao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayDat)
                    </td>
                    <td>
                        @Html.ActionLink("Xác nhận", "CartUp", new { id = item.MaDonDat }) |
                        @Html.ActionLink("Chi tiết", "CartDet", new { id = item.MaDonDat }) |
                        @Html.ActionLink("Báo lỗi", "CartErr", new { id = item.MaDonDat })
                    </td>
                </tr>
                            }

        </table>
    </div>

    </div>


    <div class="row">
        <div class="left">
            Trang @{int st = Model.PageNumber > Model.PageCount ? 1 : Model.PageNumber; } @st/@Model.PageCount
        </div>
        <div class="left row">
            @Html.PagedListPager(Model, page => Url.Action("Cart", new { page = page, @search = ViewBag.Search }))
        </div>
    </div>
