@using PagedList;
@using PagedList.Mvc;
@model IPagedList<smart_shop.Models.binhluan>

@{
    ViewBag.Title = "Quản lý bình luận";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    int stt = 1;
    stt = Model.PageSize * (Model.PageNumber - 1);
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-home"></i></a></li>
    <li class="active">@ViewBag.Title</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">

      
    </div>
    <div class="panel-body">
        <table class="table-striped table">
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.Label("Tên đăng nhập")
                </th>
                <th>
                    @Html.Label("Tên sản phẩm")
                </th>
                <th>
                    @Html.Label("Ngày bình luận")
                </th>
                <th>
                    @Html.Label("Nội dung bình luận")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{ stt++;}
                        @stt
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenDangNhap)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sanpham.TenSanPham)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayBinhLuan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoiDungBinhLuan)
                    </td>
                    <td>
                        <span aria-hidden="true" id="editcomment" data-toggle="modal" style="cursor:pointer;color:blue"
                              data-target="#suacomment"
                              data-id="@item.MaBinhLuan"
                              data-noidung="@item.NoiDungBinhLuan"
                              class="glyphicon glyphicon-edit"></span>
                        <span aria-hidden="true" id="xoacomment" data-toggle="modal" style="cursor:pointer;color:blue"
                              data-target="#xoacm"
                              data-id="@item.MaBinhLuan"
                              class="glyphicon glyphicon-remove"></span>
                    </td>
                </tr>
                            }

        </table>
    </div>

    </div>
    
    <div class="row">
        <div class="left">
            Trang @{int st = Model.PageNumber > Model.PageCount ? 1 : Model.PageNumber; } @st/@Model.PageCount
        </div>
        <div class="left row">
            @Html.PagedListPager(Model, page => Url.Action("Comment", new { page = page, @search = ViewBag.Search }))
        </div>
    </div>

    <script>
        $(document).on("click", "#xoacomment", function () {
            var loaisp = $(this).data('id');
            $(".modal-body #idmabinhluan").val(loaisp);

            //tensanpham
        });
    </script>
    <script>
        $(document).on("click", "#editcomment", function () {
            var loaisp = $(this).data('id');
            var noidung = $(this).data('noidung');
            $(".modal-body #idmabinhluans").val(loaisp);
            $(".modal-body #noidungcm").val(noidung);
            //tensanpham
        });
    </script>



    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="xoacm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabelaa">Xóa bình luận</h4>
                </div>
                @using (Html.BeginForm("DeleteComment", "Admin", FormMethod.Get))
            {
                    <div class="modal-body">
                        <div class="add-review">
                            <p>Bạn có chắc chắn muốn xóa bình luận</p>

                            <input type="hidden" id="idmabinhluan" name="idmabinhluan" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary" style="background-color:#FDA30E">Xóa</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="suacomment">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabelaa">Chỉnh sứar bình luận</h4>
                </div>
                @using (Html.BeginForm("EditComment", "Admin", FormMethod.Get))
            {
                    <div class="modal-body">
                        <div class="add-review">
                            <p>Nhập nội dung</p>
                            <textarea id="noidungcm" class="form-control" name="noidungbinhluane"></textarea>
                            <input type="hidden" id="idmabinhluans" name="idmabinhluans" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary" style="background-color:#FDA30E">Cập nhập</button>
                    </div>
                }
            </div>
        </div>
    </div>
