@using PagedList;
@using PagedList.Mvc;
@model IPagedList<smart_shop.Models.thanhvien>

@{
    ViewBag.Title = "Quản lý thành viên";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    int stt = 1;
    stt = Model.PageSize * (Model.PageNumber - 1);
    smart_shop.Models.sanpham sp = new smart_shop.Models.sanpham();
}
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-home"></i></a></li>
    <li class="active">@ViewBag.Title</li>
</ol>
<div class="panel panel-default">

    <div class="panel-heading">
        <a href="@Url.Action("MemberCreate","Admin")" class="btn btn-primary"><i class="fa fa-plus"></i> Thêm</a>
    </div>
    <div class="panel-body">
        <table class="table-striped table">
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.Label("Tên đăng nhập")
                </th>
                <th>
                    @Html.Label("Mật khẩu")
                </th>
                <th>
                    @Html.Label("Họ tên")
                </th>
                <th>
                    @Html.Label("Ngày sinh")
                </th>
                <th>
                    @Html.Label("Phái")
                </th>
                <th>
                    @Html.Label("Địa chỉ")
                </th>
                <th>
                    @Html.Label("Điện thoại")
                </th>
                <th>
                    @Html.Label("Email")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{ stt++;}
                        @stt
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenDangNhap)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MatKhau)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgaySinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GioiTinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DienThoai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "MemberEdit", new { id = item.TenDangNhap }) |

                        <span aria-hidden="true" id="xoathanhvien" data-toggle="modal" style="cursor:pointer;color:blue"
                              data-target="#xoathanhvienmodal"
                              data-id="@item.TenDangNhap"
                              class="glyphicon glyphicon-remove"></span>
                    </td>
                </tr>
                            }

        </table>
    </div>
</div>
   
    
    <script>
        $(document).on("click", "#xoathanhvien", function () {
            var tendn = $(this).data('id');
            $(".modal-body #tendangnhap").val(tendn);
            //tensanpham
        });
    </script>
    <div class="row pull-right">
        <div class="left">
            Trang @{int st = Model.PageNumber > Model.PageCount ? 1 : Model.PageNumber; } @st/@Model.PageCount
        </div>
        <div class="left row">
            @Html.PagedListPager(Model, page => Url.Action("Member", new { page = page, @search = ViewBag.Search }))
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="xoathanhvienmodal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabelaa">Xóa thành viên</h4>
                </div>
                @using (Html.BeginForm("MemberDele", "Admin", FormMethod.Get))
                {                <div class="modal-body">
                    <div class="add-review">
                        <p>Bạn có chắc chắn muốn xóa thành viên</p>
                        <input type="hidden" id="tendangnhap" name="idloaisp" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary" style="background-color:#FDA30E" id="delthanhvien">Xóa</button>
                </div>
                }
            </div>
        </div>
    </div>
