@using PagedList;
@using PagedList.Mvc;
@model IPagedList<smart_shop.Models.path>
@{
    ViewBag.Title = "Quản lý Path";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    int stt = 1;
    stt = Model.PageSize * (Model.PageNumber - 1);
}
<h2>Quản lý Path</h2>

<p>
    @Html.ActionLink("Create New", "CreatePath")
</p>
<table class="table-striped table">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.Label("ID")
        </th>
        <th>
            @Html.Label("Name")
        </th>
        <th>
            @Html.Label("Mô tả")
        </th>
        <th>
            @Html.Label("URL")
        </th>
        <th>
            @Html.Label("Hiển thị")
        </th>
        <th>
            @Html.Label("Cây cha")
        </th>
        <th>
            @Html.Label("Hoạt động")
        </th>
        <th>
            @Html.Label("Icon class")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{ stt++;}
                @stt
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PathID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PathName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PathDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PathURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Display)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassIcon)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPath", new { id = item.PathID }) |
                <span aria-hidden="true" id="xoaispclick" data-toggle="modal" style="cursor:pointer;color:blue"
                      data-target="#deletepath"
                      data-id="@item.PathID"
                    class="glyphicon glyphicon-remove"></span>
            </td>
        </tr>
    }

</table>
<script>
    $(document).on("click", "#xoaispclick", function () {
        var mâpth = $(this).data('id');
        $(".modal-body #idpathde").val(loaisp);

        //tensanpham
    });
</script>

<div class="row">
    <div class="left row">
        Trang @{int st = Model.PageNumber > Model.PageCount ? 1 : Model.PageNumber; } @st/@Model.PageCount
    </div>
    <div class="left row">
        @Html.PagedListPager(Model, page => Url.Action("Path", new { page = page, @search = ViewBag.Search }))
    </div>
</div>



<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="deletepath">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelaa">Xóa path </h4>
            </div>
            @using (Html.BeginForm("DeletePath", "Admin", FormMethod.Get))
            {
                <div class="modal-body">
                    <div class="add-review">
                        <p>Bạn có chắc chắn muốn xóa Path</p>
                        <input type="hidden" id="idpathde" name="idpathde" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Xóa</button>
                </div>
            }
        </div>
    </div>
</div>
